<div ng-controller="campaignIdeasController1">
    <!-- Banner -->
    <div class="sm-banner-container">
        <div class="sm-banner" style="background-image: url(img/sm-banner-campaign.jpg)"></div>
        <div class="sm-banner-text container-fluid">
            <div class="demo-banner-title"><h1>CAMPAIGN</h1></div>
        </div>
    </div>
    <!-- Content Campaign Ideas -->
    <div class="content-service">
        <span class="service-toggle1" id="service-toggle1" ng-click="toggle1()"> This ad campaign on building a safe nation for women is exactly what India needs right away
        <i class="fas fa-plus plus-icon"></i></span>
        <div class="content-service1" id="content-service1">
            <!-- Content Campaign Ideas -->
            <div class="container view-content text-justify" style="font-family: 'Righteous', cursive;">
                <!--<h1>campaignIdeas Page</h1>-->
                <h1 class="text-center">This ad campaign on building a safe nation for women is exactly what India needs
                    right away</h1>
                <div>
                    <p>
                        Tata Tea launched its campaign Jaago Re 2.0 - ‘Alarm Bajne se Pehle Jaago Re’ - urging people to
                        pre-act before
                        tragedies hit this year after the decade long Jaago Re campaign. The campaign is urging people
                        to drive the
                        change
                        they
                        wish to see.
                    </p>
                    <p>
                        While the first phase of the campaign showcased the ‘reactive’ nature of people and introduced a
                        new form of
                        activism –
                        ‘pre-activism’; the second phase aims to inspire people to pre-act and drive a behavioral change
                        by signing
                        petitions on
                        issues currently plaguing the country – Women Safety and Sports Encouragement.
                    </p>
                    <p>
                        An issue like women safety will not end till the root-cause of the problem is tackled and the
                        onus of bringing
                        this
                        change lies on us. The lack of respect towards women and them being considered as a weaker
                        gender is one of the
                        reasons
                        behind increasing violence against them.
                    </p>
                    <p>
                        Tata Tea is trying to bring about a change in attitude by encouraging people to pre-act and
                        educate children to
                        treat
                        all with respect and equality. This positive attitude will translate into a safe environment for
                        women in the
                        future
                        where they are respected. Tata Tea’s petition for women safety is therefore to make ‘gender
                        sensitization’
                        programs
                        compulsory in school curriculums to teach young minds to respect men and women equally. Each
                        petition is
                        followed by
                        a pledge for the parents to practice and teach gender sensitivity to their children.
                    </p>
                    <p>
                        Regarding Sports, Tata Tea believes that there is a need to build a sporting culture in India
                        first and only
                        then
                        can we hope to become a great sporting nation. The petition for sports encouragement is to
                        include sports as a
                        compulsory subject in schools. Tata Tea also encourages people to participate in and support at
                        least one local
                        sporting event and to take their children for one of these sporting events at any levels, be it
                        in the
                        neighborhood,
                        state or national.
                    </p>

                    <strong class="text-center" style="font-size: 20px">
                        How to take part
                        <br>
                    </strong>
                    <p>
                        Pre-activism is about nipping the problem in the bud and this campaign is aiming to create over
                        1Mn
                        pre-activists
                        who will sign the petition and pledge to bring about a real change. Gender sensitization at
                        grass-root levels is
                        critical to bring a wave of change and create a more gender equitable society.
                    </p>
                    <p>
                        To instill the message of Preactivism and drive the conversation on change, Dr. Ranjana Kumari
                        and Olympic
                        Sensation
                        Dipa Karmakar will be the torchbearers of the campaign and will lead the issues of Women Safety
                        and Sports
                        Encouragement, respectively. They will share their views on these issues, create awareness and
                        inspire people to
                        take action by signing the petitions and taking the pledge.
                    </p>
                    <img src="https://www.businessinsider.in/img/59285571/Master.jpg" alt="" class="col-sm-auto">
                </div>
            </div>

        </div>
        <span class="service-toggle2" id="service-toggle2" ng-click="toggle2()"> Creating safe public spaces <i class="fas fa-plus plus-icon"></i></span>
        <div class="content-service2" id="content-service2">
            <div class="article user-content container view-content text-justify">
                <h1>
                    Creating safe public spaces
                </h1>
                <p>Sexual harassment and other forms of sexual violence in public spaces are an everyday occurrence for
                    women and girls around the world—in urban and rural areas, in developed and developing
                    countries.</p>
                <p>Women and girls experience and fear various types of sexual violence in public spaces, from unwanted
                    sexual remarks and touching to rape and femicide. It happens on streets, in and around public
                    transportation, schools and workplaces, in public sanitation facilities, water and food distribution
                    sites and parks. </p>
                <p>This reality reduces women’s and girls’ freedom of movement. It reduces their ability to participate
                    in school, work and public life. It limits their access to essential services and their enjoyment of
                    cultural and recreational opportunities. It also negatively impacts their health and well-being.</p>
                <p>Although violence in the private domain is now widely recognized as a human rights violation,
                    violence against women and girls, especially sexual harassment in public spaces, remains a largely
                    neglected issue, with few laws or policies in place to prevent and address it.</p>
                <h2>Our solutions</h2>
                <p>UN Women’s Global Flagship Initiative, “Safe Cities and Safe Public Spaces,” builds on its “Safe
                    Cities Free of Violence against Women and Girls” Global Programme, launched in November 2010, with
                    leading women’s organizations, organizations, UN agencies, and more than 70 global and local
                    partners. It is the first-ever global programme that develops, implements, and evaluates tools,
                    policies and comprehensive approaches on the prevention of and response to sexual harassment and
                    other forms of sexual violence against women and girls across different settings.</p>
                <p>It began with founding programmes in Quito, <strong>Ecuador</strong>; Cairo, <strong>Egypt</strong>;
                    New Delhi, <strong>India</strong>; Port Moresby, <strong>Papua New Guinea</strong>; and Kigali,
                    <strong>Rwanda</strong>, and now spans more than 20 cities. </p>
                <p>UN Women’s Safe Cities and Safe Public Spaces Global Initiative continues to generate a number of
                    innovative results through partnerships with mayors’ offices, national governments, women’s groups
                    and other community partners.</p>
                <p>The municipality of Quito, for example, has amended a local ordinance to strengthen action against
                    sexual harassment in public spaces.</p>
                <p>In Cairo, Egypt’s Ministry of Housing, Utilities and Urban Development adopted women’s safety audits
                    to guide urban planning, and more than 100 youth agents of change (50 per cent young men and 50 per
                    cent young women) have been engaged and are leading transformative activities in schools and other
                    settings in the programme intervention sites to promote respectful gender relationships, gender
                    equality, and safety in public spaces.</p>
                <p>Port Moresby’s National Capital District has taken steps to improve women’s safety in local markets,
                    including budget allocations which ensure that the needs of women and men are taken into account
                    across different municipal departments.</p>

            </div>

        </div>
        <span class="service-toggle3" id="service-toggle3" ng-click="toggle3()"> women’s rights organisation <i class="fas fa-plus plus-icon"></i></span>
        <div class="content-service3" id="content-service3">
            <main class="container container view-content text-justify">
                <article class="secondary -centered">
                    <div class="content">
                        <h4 style="text-align: center;">We work across 45 countries and represent a global movement of
                            women standing together to claim their human rights and campaign against injustice.</h4>
                        <p style="text-align: center;"><a href="http://actionaid.org.au/our-programs/">Around the
                            world</a>, we partner with local women’s organisations, who know exactly what changes their
                            communities’ need – and we support them to design and <strong>lead</strong> programs that
                            will make those changes happen. From <strong>empowering</strong> women with the tools to
                            campaign for safer cities, or building women’s <strong>capacity</strong> to respond to
                            climate disasters, our programs support women living in poverty and exclusion, and their
                            communities.</p>
                        <p style="text-align: center;"><a href="http://actionaid.org.au/take-action/">In Australia</a>,
                            we stand in <strong>solidarity</strong> with women globally by <a
                                    href="http://actionaid.org.au/home/other-ways-to-give/"><strong>fundraising</strong>
                            </a>and <a href="http://actionaid.org.au/home/take-action/"><strong>campaigning</strong></a>.
                            We fundraise to get women the resources they need to <strong>lead change</strong> for gender
                            equality and social justice. We <strong>mobilise</strong> a community activist network,
                            campaigning to hold the Australian Government and corporations <strong>accountable</strong>
                            for their impact on the rights of women living in poverty and exclusion around the world.
                        </p>
                    </div>
                </article>

            </main>

        </div>
        <span class="service-toggle4" id="service-toggle4" ng-click="toggle4()"> Awareness & Safety Campaign <i class="fas fa-plus plus-icon"></i></span>
        <div class="content-service4" id="content-service4">
            <div class=" container container view-content text-justify"><br>
                <p class="partnertext" align="justify">Genesis</p>
                <p class="partnertext" align="justify">Women have landed on the Moon, walked in space, been elected as
                    Heads of States, they have proved themselves equal to men in every way, Yet they are not safe in
                    their own immediate surroundings. </p>
                <p class="partnertext" align="justify">Aggression and assault is a women's reality, crime against women
                    is a daily occurrence, age, class, qualification hold no significance. These attacks are all abuses
                    of power, where the attacker (mostly males) uses the act of violence to dominate and demonstrate
                    power over the attackees. </p>
                <p class="partnertext" align="justify">The sad reality is that we live in an increasingly violent
                    society in which the fear of crime is ever present. Personal safety has become an issue of
                    importance for everyone, especially women. To survive woman need to fight back. </p>
                <p class="partnertext" align="justify">The first step towards effective self-defense is to realise no
                    matter what, all of us are susceptible to various forms of crime . And it is well documented that
                    women of all ages have successfully defended themselves against male attackers. </p>
                <p class="partnertext" align="justify">Eve teasing, sexual harassment, molestation, domestic, violence
                    etc. no matter what the statistics are, if you are being harassed or assaulted it will be 100%. </p>
                <p class="partnertext" align="justify"><strong>PROJECT </strong></p>
                <p class="partnertext" align="justify">The situation needs to be addressed and taking a step forward
                    Smile foundation is organising a series of workshop on "Basics of self defense" for adolescent girls
                    and women as part of its Safety &amp; Awareness Campaign. </p>
                <p class="partnertext" align="justify">In the first phase 5 workshops were organised in communities of
                    Safdarjung Enclave, Okhla, Nangloi, Mahipalpur and Lado Sarai with a total participation of over
                    500.</p>
                <p class="partnertext" align="justify"> These sessions were conducted by experts from the Women cell of
                    Delhi Police. And were in the form of lectures coupled with discussion and demonstration of a few
                    basic self-defense techniques.</p>
                <p class="partnertext" align="justify"> The objective of the workshops were be to make the participants
                    aware of different situations and how to deal with them. Also covered were the topics of "Myths
                    about women, violence and self-defense", body language", "how to use everyday items as weapons and
                    basics about the redressal procedures and how to approach the police. </p>
                <p class="partnertext" align="justify">In essence the workshops were a wake up call to the participants
                    that:</p>
                <p class="partnertext" align="justify">'Never, never think that it couldn't happen to you!' Have a plan!
                    Act Hard! Be prepared! </p>
                <p class="partnertext" align="justify">Women have a right to their space. </p>
                <p class="partnertext" align="justify">Women have a right to their freedom and autonomy… and must defend
                    these rights. </p>
                <p class="partnertext" align="justify">The workshops highlighted the fact that it was absolutely
                    essential that women/girls raise their voice against any misconduct and get the perpetrators to
                    justice as it will not only teach the perpetrators a lesson but also act as a deterrent against them
                    repeating the offense. The idea that one will be able to pick out a potential attacker by their
                    appearance, age, class, relation, gender, and what they do for a living is a mistake. The message
                    loud and clear was Gone are the days when girls were required to lower their gaze, walk straight and
                    speak softly, the mantra for today is look up, be alert about what's happening around you and speak
                    up against injustice. </p>
                <p class="partnertext" align="justify">The response to the workshops has been overwhelming and
                    repeat/new workshops will be held in the old and new communities. The target is to cover at least
                    1200 girls/women through the basic workshops and 200 girls/women through the 15 day Self Defense
                    Training by December 2003. The 15 day Self Defense Training for above 5 communities will be held in
                    the months of August to October.</p>
            </div>
        </div>
    </div>
</div>
